
[wikicore_en_mllm_core]
name = WikiCore mllm  core (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260707--en(exclude=*,include_scheme=https://wikicore.ca/20260707/core)
# Vocab size: 116906
