
[wikicore_en_mllm_core]
name = WikiCore mllm core (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-core-en
# Vocab size: 114737

#Best Precision (doc avg): 0.8256	Limit: 1	Threshold: 0.00
#Best    Recall (doc avg): 0.9476	Limit: 15	Threshold: 0.00
#Best  F1 score (doc avg): 0.8256	Limit: 1	Threshold: 0.00

[wikicore_en_mllm_threshold_core]
name = WikiCore mllm built-in threshold core (en)
backend = mllm
threshold = 0.152
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-core-en

#Best Precision (doc avg): 0.8077	Limit: 1	Threshold: 0.00
#Best    Recall (doc avg): 0.9474	Limit: 15	Threshold: 0.00
#Best  F1 score (doc avg): 0.8077	Limit: 1	Threshold: 0.00
