
[wikicore_en_yake_occupation_activism]
name = WikiCore yake occupation activism (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/activism)
# Vocab size: 33371

[wikicore_en_yake_occupation_arts]
name = WikiCore yake occupation arts (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/arts)
# Vocab size: 117930

[wikicore_en_yake_occupation_business]
name = WikiCore yake occupation business (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/business)
# Vocab size: 84542

[wikicore_en_yake_occupation_education]
name = WikiCore yake occupation education (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/education)
# Vocab size: 111354

[wikicore_en_yake_occupation_engineering]
name = WikiCore yake occupation engineering (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/engineering)
# Vocab size: 48190

[wikicore_en_yake_occupation_film]
name = WikiCore yake occupation film (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/film)
# Vocab size: 190024

[wikicore_en_yake_occupation_genealogy]
name = WikiCore yake occupation genealogy (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/genealogy)
# Vocab size: 6391

[wikicore_en_yake_occupation_law]
name = WikiCore yake occupation law (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/law)
# Vocab size: 82424

[wikicore_en_yake_occupation_literature]
name = WikiCore yake occupation literature (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/literature)
# Vocab size: 186650

[wikicore_en_yake_occupation_media]
name = WikiCore yake occupation media (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/media)
# Vocab size: 88698

[wikicore_en_yake_occupation_medicine]
name = WikiCore yake occupation medicine (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/medicine)
# Vocab size: 45407

[wikicore_en_yake_occupation_military]
name = WikiCore yake occupation military (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/military)
# Vocab size: 77047

[wikicore_en_yake_occupation_misc]
name = WikiCore yake occupation misc (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/misc)
# Vocab size: 33372

[wikicore_en_yake_occupation_music]
name = WikiCore yake occupation music (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/music)
# Vocab size: 150371

[wikicore_en_yake_occupation_other]
name = WikiCore yake occupation other (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/other)
# Vocab size: 1584

[wikicore_en_yake_occupation_politics]
name = WikiCore yake occupation politics (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/politics)
# Vocab size: 347917

[wikicore_en_yake_occupation_religion]
name = WikiCore yake occupation religion (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/religion)
# Vocab size: 64131

[wikicore_en_yake_occupation_science]
name = WikiCore yake occupation science (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/science)
# Vocab size: 176895

[wikicore_en_yake_occupation_sports]
name = WikiCore yake occupation sports (en)
backend = yake
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/sports)
# Vocab size: 691420

[wikicore_en_ensemble_occupation]
name = WikiCore Ensemble occupation (en)
backend = ensemble
language = en
limit = 100
sources = wikicore_en_yake_occupation_activism,wikicore_en_yake_occupation_arts,wikicore_en_yake_occupation_business,wikicore_en_yake_occupation_education,wikicore_en_yake_occupation_engineering,wikicore_en_yake_occupation_film,wikicore_en_yake_occupation_genealogy,wikicore_en_yake_occupation_law,wikicore_en_yake_occupation_literature,wikicore_en_yake_occupation_media,wikicore_en_yake_occupation_medicine,wikicore_en_yake_occupation_military,wikicore_en_yake_occupation_misc,wikicore_en_yake_occupation_music,wikicore_en_yake_occupation_other,wikicore_en_yake_occupation_politics,wikicore_en_yake_occupation_religion,wikicore_en_yake_occupation_science,wikicore_en_yake_occupation_sports
vocab = wikicore-20260720-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260720/occupation/activism|https://wikicore.ca/20260720/occupation/arts|https://wikicore.ca/20260720/occupation/business|https://wikicore.ca/20260720/occupation/education|https://wikicore.ca/20260720/occupation/engineering|https://wikicore.ca/20260720/occupation/film|https://wikicore.ca/20260720/occupation/genealogy|https://wikicore.ca/20260720/occupation/law|https://wikicore.ca/20260720/occupation/literature|https://wikicore.ca/20260720/occupation/media|https://wikicore.ca/20260720/occupation/medicine|https://wikicore.ca/20260720/occupation/military|https://wikicore.ca/20260720/occupation/misc|https://wikicore.ca/20260720/occupation/music|https://wikicore.ca/20260720/occupation/other|https://wikicore.ca/20260720/occupation/politics|https://wikicore.ca/20260720/occupation/religion|https://wikicore.ca/20260720/occupation/science|https://wikicore.ca/20260720/occupation/sports)
