[wikicore_en_scitecheng_core]
name = WikiCore HTTP core (en)
backend = http
language = en
endpoint = http://localhost:5000/v1/projects/wikicore_en_mllm_core/suggest
vocab = wikicore-20260722-scitecheng-en(exclude=*,include_scheme=https://wikicore.ca/20260722/core)
# Vocab size: 114737

[wikicore_en_scitecheng_occupation_science]
name = WikiCore HTTP occupation science (en)
backend = http
language = en
endpoint = http://localhost:5000/v1/projects/wikicore_en_mllm_occupation_science/suggest
vocab = wikicore-20260722-scitecheng-en(exclude=*,include_scheme=https://wikicore.ca/20260722/occupation/science)
# Vocab size: 176895

[wikicore_en_scitecheng_occupation_engineering]
name = WikiCore HTTP occupation engineering (en)
backend = http
language = en
endpoint = http://localhost:5000/v1/projects/wikicore_en_mllm_occupation_engineering/suggest
vocab = wikicore-20260722-scitecheng-en(exclude=*,include_scheme=https://wikicore.ca/20260722/occupation/engineering)
# Vocab size: 48190

[wikicore_en_scitecheng_class_science]
name = WikiCore HTTP class science (en)
backend = http
language = en
endpoint = http://localhost:5000/v1/projects/wikicore_en_mllm_class_science/suggest
vocab = wikicore-20260722-scitecheng-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/science)
# Vocab size: 573565

[wikicore_en_scitecheng_class_technology]
name = WikiCore HTTP class technology (en)
backend = http
language = en
endpoint = http://localhost:5000/v1/projects/wikicore_en_mllm_class_technology/suggest
vocab = wikicore-20260722-scitecheng-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/technology)
# Vocab size: 25332

[wikicore_en_ensemble_scitecheng]
name = WikiCore Ensemble scitecheng (en)
backend = ensemble
language = en
limit = 100
sources = wikicore_en_scitecheng_core,wikicore_en_scitecheng_occupation_science,wikicore_en_scitecheng_occupation_engineering,wikicore_en_scitecheng_class_science,wikicore_en_scitecheng_class_technology
vocab = wikicore-20260722-occupation-en
