
[wikicore_en_dummy_class_aircraft]
name = WikiCore dummy class aircraft (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/aircraft)
# Vocab size: 29617

[wikicore_en_dummy_class_astronomy]
name = WikiCore dummy class astronomy (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/astronomy)
# Vocab size: 40324

[wikicore_en_dummy_class_building]
name = WikiCore dummy class building (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/building)
# Vocab size: 151535

[wikicore_en_dummy_class_character]
name = WikiCore dummy class character (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/character)
# Vocab size: 19386

[wikicore_en_dummy_class_city]
name = WikiCore dummy class city (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/city)
# Vocab size: 64298

[wikicore_en_dummy_class_comic]
name = WikiCore dummy class comic (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/comic)
# Vocab size: 8172

[wikicore_en_dummy_class_commune]
name = WikiCore dummy class commune (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/commune)
# Vocab size: 54873

[wikicore_en_dummy_class_community]
name = WikiCore dummy class community (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/community)
# Vocab size: 174842

[wikicore_en_dummy_class_cultural]
name = WikiCore dummy class cultural (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/cultural)
# Vocab size: 41248

[wikicore_en_dummy_class_district]
name = WikiCore dummy class district (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/district)
# Vocab size: 65168

[wikicore_en_dummy_class_election]
name = WikiCore dummy class election (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/election)
# Vocab size: 32229

[wikicore_en_dummy_class_film]
name = WikiCore dummy class film (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/film)
# Vocab size: 180843

[wikicore_en_dummy_class_geography]
name = WikiCore dummy class geography (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/geography)
# Vocab size: 40498

[wikicore_en_dummy_class_group]
name = WikiCore dummy class group (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/group)
# Vocab size: 19249

[wikicore_en_dummy_class_historic]
name = WikiCore dummy class historic (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/historic)
# Vocab size: 36362

[wikicore_en_dummy_class_language]
name = WikiCore dummy class language (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/language)
# Vocab size: 11894

[wikicore_en_dummy_class_literary]
name = WikiCore dummy class literary (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/literary)
# Vocab size: 96246

[wikicore_en_dummy_class_media]
name = WikiCore dummy class media (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/media)
# Vocab size: 72001

[wikicore_en_dummy_class_military]
name = WikiCore dummy class military (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/military)
# Vocab size: 81502

[wikicore_en_dummy_class_mountain]
name = WikiCore dummy class mountain (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/mountain)
# Vocab size: 38689

[wikicore_en_dummy_class_municipality]
name = WikiCore dummy class municipality (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/municipality)
# Vocab size: 58251

[wikicore_en_dummy_class_music]
name = WikiCore dummy class music (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/music)
# Vocab size: 339198

[wikicore_en_dummy_class_name]
name = WikiCore dummy class name (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/name)
# Vocab size: 89809

[wikicore_en_dummy_class_olympic]
name = WikiCore dummy class olympic (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/olympic)
# Vocab size: 30884

[wikicore_en_dummy_class_organization]
name = WikiCore dummy class organization (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/organization)
# Vocab size: 140322

[wikicore_en_dummy_class_other]
name = WikiCore dummy class other (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/other)
# Vocab size: 31724

[wikicore_en_dummy_class_political]
name = WikiCore dummy class political (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/political)
# Vocab size: 67609

[wikicore_en_dummy_class_railway]
name = WikiCore dummy class railway (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/railway)
# Vocab size: 82124

[wikicore_en_dummy_class_recurring]
name = WikiCore dummy class recurring (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/recurring)
# Vocab size: 57628

[wikicore_en_dummy_class_religion]
name = WikiCore dummy class religion (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/religion)
# Vocab size: 42929

[wikicore_en_dummy_class_school]
name = WikiCore dummy class school (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/school)
# Vocab size: 67920

[wikicore_en_dummy_class_science]
name = WikiCore dummy class science (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/science)
# Vocab size: 573565

[wikicore_en_dummy_class_soccer]
name = WikiCore dummy class soccer (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/soccer)
# Vocab size: 57827

[wikicore_en_dummy_class_sports]
name = WikiCore dummy class sports (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/sports)
# Vocab size: 297049

[wikicore_en_dummy_class_technology]
name = WikiCore dummy class technology (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/technology)
# Vocab size: 25332

[wikicore_en_dummy_class_television]
name = WikiCore dummy class television (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/television)
# Vocab size: 108163

[wikicore_en_dummy_class_town]
name = WikiCore dummy class town (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/town)
# Vocab size: 44952

[wikicore_en_dummy_class_transport]
name = WikiCore dummy class transport (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/transport)
# Vocab size: 45753

[wikicore_en_dummy_class_video]
name = WikiCore dummy class video (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/video)
# Vocab size: 40002

[wikicore_en_dummy_class_village]
name = WikiCore dummy class village (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/village)
# Vocab size: 211863

[wikicore_en_dummy_class_water]
name = WikiCore dummy class water (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/water)
# Vocab size: 89086

[wikicore_en_ensemble_class]
name = WikiCore Ensemble class (en)
backend = ensemble
language = en
limit = 100
sources = wikicore_en_dummy_class_aircraft,wikicore_en_dummy_class_astronomy,wikicore_en_dummy_class_building,wikicore_en_dummy_class_character,wikicore_en_dummy_class_city,wikicore_en_dummy_class_comic,wikicore_en_dummy_class_commune,wikicore_en_dummy_class_community,wikicore_en_dummy_class_cultural,wikicore_en_dummy_class_district,wikicore_en_dummy_class_election,wikicore_en_dummy_class_film,wikicore_en_dummy_class_geography,wikicore_en_dummy_class_group,wikicore_en_dummy_class_historic,wikicore_en_dummy_class_language,wikicore_en_dummy_class_literary,wikicore_en_dummy_class_media,wikicore_en_dummy_class_military,wikicore_en_dummy_class_mountain,wikicore_en_dummy_class_municipality,wikicore_en_dummy_class_music,wikicore_en_dummy_class_name,wikicore_en_dummy_class_olympic,wikicore_en_dummy_class_organization,wikicore_en_dummy_class_other,wikicore_en_dummy_class_political,wikicore_en_dummy_class_railway,wikicore_en_dummy_class_recurring,wikicore_en_dummy_class_religion,wikicore_en_dummy_class_school,wikicore_en_dummy_class_science,wikicore_en_dummy_class_soccer,wikicore_en_dummy_class_sports,wikicore_en_dummy_class_technology,wikicore_en_dummy_class_television,wikicore_en_dummy_class_town,wikicore_en_dummy_class_transport,wikicore_en_dummy_class_video,wikicore_en_dummy_class_village,wikicore_en_dummy_class_water
vocab = wikicore-20260722-class-en(exclude=*,include_scheme=https://wikicore.ca/20260722/class/aircraft|https://wikicore.ca/20260722/class/astronomy|https://wikicore.ca/20260722/class/building|https://wikicore.ca/20260722/class/character|https://wikicore.ca/20260722/class/city|https://wikicore.ca/20260722/class/comic|https://wikicore.ca/20260722/class/commune|https://wikicore.ca/20260722/class/community|https://wikicore.ca/20260722/class/cultural|https://wikicore.ca/20260722/class/district|https://wikicore.ca/20260722/class/election|https://wikicore.ca/20260722/class/film|https://wikicore.ca/20260722/class/geography|https://wikicore.ca/20260722/class/group|https://wikicore.ca/20260722/class/historic|https://wikicore.ca/20260722/class/language|https://wikicore.ca/20260722/class/literary|https://wikicore.ca/20260722/class/media|https://wikicore.ca/20260722/class/military|https://wikicore.ca/20260722/class/mountain|https://wikicore.ca/20260722/class/municipality|https://wikicore.ca/20260722/class/music|https://wikicore.ca/20260722/class/name|https://wikicore.ca/20260722/class/olympic|https://wikicore.ca/20260722/class/organization|https://wikicore.ca/20260722/class/other|https://wikicore.ca/20260722/class/political|https://wikicore.ca/20260722/class/railway|https://wikicore.ca/20260722/class/recurring|https://wikicore.ca/20260722/class/religion|https://wikicore.ca/20260722/class/school|https://wikicore.ca/20260722/class/science|https://wikicore.ca/20260722/class/soccer|https://wikicore.ca/20260722/class/sports|https://wikicore.ca/20260722/class/technology|https://wikicore.ca/20260722/class/television|https://wikicore.ca/20260722/class/town|https://wikicore.ca/20260722/class/transport|https://wikicore.ca/20260722/class/video|https://wikicore.ca/20260722/class/village|https://wikicore.ca/20260722/class/water)
