
[wikicore_en_dummy_core]
name = WikiCore dummy core (en)
backend = dummy
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260722-en(exclude=*,include_scheme=https://wikicore.ca/20260722/core)
# Vocab size: 114737
