
[wikicore_en_mllm_class_aircraft]
name = WikiCore mllm class aircraft (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/aircraft)
# Vocab size: 29437

[wikicore_en_mllm_class_astronomy]
name = WikiCore mllm class astronomy (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/astronomy)
# Vocab size: 40433

[wikicore_en_mllm_class_building]
name = WikiCore mllm class building (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/building)
# Vocab size: 152365

[wikicore_en_mllm_class_character]
name = WikiCore mllm class character (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/character)
# Vocab size: 19180

[wikicore_en_mllm_class_city]
name = WikiCore mllm class city (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/city)
# Vocab size: 64608

[wikicore_en_mllm_class_comic]
name = WikiCore mllm class comic (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/comic)
# Vocab size: 8214

[wikicore_en_mllm_class_commune]
name = WikiCore mllm class commune (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/commune)
# Vocab size: 54779

[wikicore_en_mllm_class_community]
name = WikiCore mllm class community (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/community)
# Vocab size: 175372

[wikicore_en_mllm_class_cultural]
name = WikiCore mllm class cultural (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/cultural)
# Vocab size: 43030

[wikicore_en_mllm_class_district]
name = WikiCore mllm class district (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/district)
# Vocab size: 65404

[wikicore_en_mllm_class_election]
name = WikiCore mllm class election (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/election)
# Vocab size: 31756

[wikicore_en_mllm_class_film]
name = WikiCore mllm class film (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/film)
# Vocab size: 180888

[wikicore_en_mllm_class_geography]
name = WikiCore mllm class geography (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/geography)
# Vocab size: 40086

[wikicore_en_mllm_class_group]
name = WikiCore mllm class group (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/group)
# Vocab size: 19031

[wikicore_en_mllm_class_historic]
name = WikiCore mllm class historic (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/historic)
# Vocab size: 35852

[wikicore_en_mllm_class_human]
name = WikiCore mllm class human (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/human)
# Vocab size: 2106826

[wikicore_en_mllm_class_language]
name = WikiCore mllm class language (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/language)
# Vocab size: 11883

[wikicore_en_mllm_class_literary]
name = WikiCore mllm class literary (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/literary)
# Vocab size: 95900

[wikicore_en_mllm_class_media]
name = WikiCore mllm class media (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/media)
# Vocab size: 72160

[wikicore_en_mllm_class_military]
name = WikiCore mllm class military (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/military)
# Vocab size: 81373

[wikicore_en_mllm_class_mountain]
name = WikiCore mllm class mountain (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/mountain)
# Vocab size: 38699

[wikicore_en_mllm_class_municipality]
name = WikiCore mllm class municipality (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/municipality)
# Vocab size: 58174

[wikicore_en_mllm_class_music]
name = WikiCore mllm class music (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/music)
# Vocab size: 339534

[wikicore_en_mllm_class_name]
name = WikiCore mllm class name (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/name)
# Vocab size: 90023

[wikicore_en_mllm_class_olympic]
name = WikiCore mllm class olympic (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/olympic)
# Vocab size: 30961

[wikicore_en_mllm_class_organization]
name = WikiCore mllm class organization (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/organization)
# Vocab size: 140263

[wikicore_en_mllm_class_other]
name = WikiCore mllm class other (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/other)
# Vocab size: 31746

[wikicore_en_mllm_class_political]
name = WikiCore mllm class political (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/political)
# Vocab size: 66448

[wikicore_en_mllm_class_railway]
name = WikiCore mllm class railway (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/railway)
# Vocab size: 81838

[wikicore_en_mllm_class_recurring]
name = WikiCore mllm class recurring (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/recurring)
# Vocab size: 44915

[wikicore_en_mllm_class_religion]
name = WikiCore mllm class religion (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/religion)
# Vocab size: 43006

[wikicore_en_mllm_class_school]
name = WikiCore mllm class school (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/school)
# Vocab size: 67975

[wikicore_en_mllm_class_science]
name = WikiCore mllm class science (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/science)
# Vocab size: 573590

[wikicore_en_mllm_class_soccer]
name = WikiCore mllm class soccer (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/soccer)
# Vocab size: 58659

[wikicore_en_mllm_class_sports]
name = WikiCore mllm class sports (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/sports)
# Vocab size: 295044

[wikicore_en_mllm_class_technology]
name = WikiCore mllm class technology (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/technology)
# Vocab size: 25129

[wikicore_en_mllm_class_television]
name = WikiCore mllm class television (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/television)
# Vocab size: 107518

[wikicore_en_mllm_class_town]
name = WikiCore mllm class town (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/town)
# Vocab size: 45035

[wikicore_en_mllm_class_transport]
name = WikiCore mllm class transport (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/transport)
# Vocab size: 45608

[wikicore_en_mllm_class_video]
name = WikiCore mllm class video (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/video)
# Vocab size: 39899

[wikicore_en_mllm_class_village]
name = WikiCore mllm class village (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/village)
# Vocab size: 211413

[wikicore_en_mllm_class_water]
name = WikiCore mllm class water (en)
backend = mllm
language = en
analyzer = snowball(english)
limit = 100
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/water)
# Vocab size: 89293

[wikicore_en_ensemble_class]
name = WikiCore Ensemble class (en)
backend = ensemble
language = en
limit = 100
sources = wikicore_en_mllm_class_aircraft,wikicore_en_mllm_class_astronomy,wikicore_en_mllm_class_building,wikicore_en_mllm_class_character,wikicore_en_mllm_class_city,wikicore_en_mllm_class_comic,wikicore_en_mllm_class_commune,wikicore_en_mllm_class_community,wikicore_en_mllm_class_cultural,wikicore_en_mllm_class_district,wikicore_en_mllm_class_election,wikicore_en_mllm_class_film,wikicore_en_mllm_class_geography,wikicore_en_mllm_class_group,wikicore_en_mllm_class_historic,wikicore_en_mllm_class_human,wikicore_en_mllm_class_language,wikicore_en_mllm_class_literary,wikicore_en_mllm_class_media,wikicore_en_mllm_class_military,wikicore_en_mllm_class_mountain,wikicore_en_mllm_class_municipality,wikicore_en_mllm_class_music,wikicore_en_mllm_class_name,wikicore_en_mllm_class_olympic,wikicore_en_mllm_class_organization,wikicore_en_mllm_class_other,wikicore_en_mllm_class_political,wikicore_en_mllm_class_railway,wikicore_en_mllm_class_recurring,wikicore_en_mllm_class_religion,wikicore_en_mllm_class_school,wikicore_en_mllm_class_science,wikicore_en_mllm_class_soccer,wikicore_en_mllm_class_sports,wikicore_en_mllm_class_technology,wikicore_en_mllm_class_television,wikicore_en_mllm_class_town,wikicore_en_mllm_class_transport,wikicore_en_mllm_class_video,wikicore_en_mllm_class_village,wikicore_en_mllm_class_water
vocab = wikicore-20260710-class-en(exclude=*,include_scheme=https://wikicore.ca/20260710/class/aircraft|https://wikicore.ca/20260710/class/astronomy|https://wikicore.ca/20260710/class/building|https://wikicore.ca/20260710/class/character|https://wikicore.ca/20260710/class/city|https://wikicore.ca/20260710/class/comic|https://wikicore.ca/20260710/class/commune|https://wikicore.ca/20260710/class/community|https://wikicore.ca/20260710/class/cultural|https://wikicore.ca/20260710/class/district|https://wikicore.ca/20260710/class/election|https://wikicore.ca/20260710/class/film|https://wikicore.ca/20260710/class/geography|https://wikicore.ca/20260710/class/group|https://wikicore.ca/20260710/class/historic|https://wikicore.ca/20260710/class/human|https://wikicore.ca/20260710/class/language|https://wikicore.ca/20260710/class/literary|https://wikicore.ca/20260710/class/media|https://wikicore.ca/20260710/class/military|https://wikicore.ca/20260710/class/mountain|https://wikicore.ca/20260710/class/municipality|https://wikicore.ca/20260710/class/music|https://wikicore.ca/20260710/class/name|https://wikicore.ca/20260710/class/olympic|https://wikicore.ca/20260710/class/organization|https://wikicore.ca/20260710/class/other|https://wikicore.ca/20260710/class/political|https://wikicore.ca/20260710/class/railway|https://wikicore.ca/20260710/class/recurring|https://wikicore.ca/20260710/class/religion|https://wikicore.ca/20260710/class/school|https://wikicore.ca/20260710/class/science|https://wikicore.ca/20260710/class/soccer|https://wikicore.ca/20260710/class/sports|https://wikicore.ca/20260710/class/technology|https://wikicore.ca/20260710/class/television|https://wikicore.ca/20260710/class/town|https://wikicore.ca/20260710/class/transport|https://wikicore.ca/20260710/class/video|https://wikicore.ca/20260710/class/village|https://wikicore.ca/20260710/class/water)
