
# Vocab size: 32443
[wikicore_en_mllm_occupation_activism]
name = WikiCore mllm occupation activism (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/activism)
limit = 100

# Vocab size: 113288
[wikicore_en_mllm_occupation_arts]
name = WikiCore mllm occupation arts (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/arts)
limit = 100

# Vocab size: 81580
[wikicore_en_mllm_occupation_business]
name = WikiCore mllm occupation business (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/business)
limit = 100

# Vocab size: 102025
[wikicore_en_mllm_occupation_education]
name = WikiCore mllm occupation education (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/education)
limit = 100

# Vocab size: 46904
[wikicore_en_mllm_occupation_engineering]
name = WikiCore mllm occupation engineering (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/engineering)
limit = 100

# Vocab size: 187356
[wikicore_en_mllm_occupation_film]
name = WikiCore mllm occupation film (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/film)
limit = 100

# Vocab size: 5874
[wikicore_en_mllm_occupation_genealogy]
name = WikiCore mllm occupation genealogy (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/genealogy)
limit = 100

# Vocab size: 79477
[wikicore_en_mllm_occupation_law]
name = WikiCore mllm occupation law (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/law)
limit = 100

# Vocab size: 177529
[wikicore_en_mllm_occupation_literature]
name = WikiCore mllm occupation literature (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/literature)
limit = 100

# Vocab size: 84928
[wikicore_en_mllm_occupation_media]
name = WikiCore mllm occupation media (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/media)
limit = 100

# Vocab size: 43081
[wikicore_en_mllm_occupation_medicine]
name = WikiCore mllm occupation medicine (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/medicine)
limit = 100

# Vocab size: 75516
[wikicore_en_mllm_occupation_military]
name = WikiCore mllm occupation military (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/military)
limit = 100

# Vocab size: 32262
[wikicore_en_mllm_occupation_misc]
name = WikiCore mllm occupation misc (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/misc)
limit = 100

# Vocab size: 147522
[wikicore_en_mllm_occupation_music]
name = WikiCore mllm occupation music (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/music)
limit = 100

# Vocab size: 1053
[wikicore_en_mllm_occupation_other]
name = WikiCore mllm occupation other (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/other)
limit = 100

# Vocab size: 342713
[wikicore_en_mllm_occupation_politics]
name = WikiCore mllm occupation politics (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/politics)
limit = 100

# Vocab size: 62482
[wikicore_en_mllm_occupation_religion]
name = WikiCore mllm occupation religion (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/religion)
limit = 100

# Vocab size: 170005
[wikicore_en_mllm_occupation_science]
name = WikiCore mllm occupation science (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/science)
limit = 100

# Vocab size: 690896
[wikicore_en_mllm_occupation_sports]
name = WikiCore mllm occupation sports (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-occupation-en(exclude=*,include_scheme=https://wikicore.ca/20260706/occupation/sports)
limit = 100
