
# Vocab size: 116906
[wikicore_en_mllm_core]
name = WikiCore mllm core (en)
backend = mllm
language = en
analyzer = snowball(english)
vocab = wikicore-20260706-en(exclude=*,include_scheme=https://wikicore.ca/20260706/core)
limit = 100
